/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */
/*
*{
  border: 1px solid red;
} */


body {
  margin: 0;
  overflow-x: hidden;
}

#header {
  position: absolute;
  top: 0;
  background-color: #fed275;
  border-bottom: 1px solid #e5e5e5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0rem;
  width: 100%;
  height: 99.9%;
  text-align: center;
  transition: all 0.5s ease-in-out;
  font-size: 2rem;
}

#header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  border: 4px solid #e5e5e5;
  box-shadow: 0px 0px 10px #e5e5e5;
  transition: border 0.2s linear, box-shadow 0.5s ease;
}

#header > img:hover {
  border: 4px solid #fed275;
  box-shadow: 0px 0px 10px #50504f;
}

#header > h1 > a {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #555555;
  margin-top: 10px;
  text-shadow: 4px 0 4px #7d7d7c;
  transition: color 0.3s linear;
}

#header > h1 > a:hover {
  color: #f2e2be;
}

#header > blockquote > p a {
  text-align: center;
  font-size: 1em;
  color: #555555;
  margin-top: 10px;
  text-shadow: 4px 0 4px #7d7d7c;
  transition: color 0.3s linear, font-size 0.5s ease;
  text-decoration: none;
}

#header > blockquote > p a:hover {
  color: #f2e2be;
  font-size: 1.3em;
}

#header > nav {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

#header > nav > ul {
  display: flex;
  justify-content: space-around;
}

#header > nav > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  transform: translateX(50px);
  transition: transform 0.5s ease, font-size 0.2s ease, background-color 0.6s, border-radius 0.5s ease, box-shadow 0.2s linear;
}

#header > nav > ul > li:hover {
  transform: translateY(-5px) translateX(50px);
  background-color: #f6b833;
  border-radius: 5px;
  font-size: 1.5em;
  box-shadow: 10px 5px 10px #858585;
}

#header > nav > ul > li > a{
    text-decoration: none;
    color: #555555;
    text-shadow: 4px 0 4px #7d7d7c;
    transition: color 0.3s linear;
}
